.user-card-in-admin {
  display: flex;

  width: 50%;
  margin-left: 25%;
  background-color: black;
  opacity: 0.8;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  border-radius: 10px;
  margin-bottom: 4%;
  min-width: 300px;
}
.user-card-in-admin h5 {
  color: white;
}
.users-data-in-admin-h1 {
  color: white;
}

.go-back-admin {
  color: white;
}

@media (max-width: 1020px) {
  .user-card-in-admin {
    margin-left: 10%;
    padding-left: 10%;
    margin-right: 10%;
  }
}

@media (max-width: 687px) {
  .user-card-in-admin h3 {
    font-size: 1.2rem;
  }
}

@media (max-width: 370px) {
  .user-card-in-admin h3 {
    font-size: 0.8rem;
  }
}
